{% extends 'sitemenu/main.html' %}
{% load static %}

{% block page_header %}
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/bg/greenway_bg.jpg' %}">
      <div class="container pt-60 pb-40">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <br>


            </div>
          </div>
        </div>
      </div>
    </section>
<br>
<br>
<br>

{% endblock %}