{% extends 'base.html' %}
{% load static %}

{% block meta_title %}Корзина покупок{% endblock %}


{% block page_header %}
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/bg/cart-bg.jpg' %}">
      <div class="container pt-60 pb-40">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row">
            <div class="col-md-12">
              <h3 class="title text-white tnr-font">Корзина</h3>
              <ul class="breadcrumb white">
                <li><a href="/"><i class="fa fa-home"></i></a></li>
                <li class="active tnr-font">Корзина</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}

{% block content %}



    <section>
      <div class="container">
        <div class="section-content">
            {% if shopping_cart|length > 0 %}
          <div class="row">
            <div class="col-md-10 col-md-offset-1 table-responsive">
              <table class="table table-striped table-bordered tbl-shopping-cart">
                <thead>
                  <tr>
                    <th></th>
                    <th>Фото</th>
                    <th>Продукт</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Итого</th>
                  </tr>
                </thead>
                <tbody>

                  {% for item in  shopping_cart %}
                      {% for category in item.product.category.all %}

                              <tr class="cart_item">
                                <td class="product-remove"><a title="Удалить продукт" class="remove" href="/cart/remove/{{ item.product.id }}" onclick="return confirm('Вы точно хотите удалить этот продукт?')"><i class="fa fa-trash"></i></a></td>
                                <td class="product-thumbnail"><a href="/catalog/{{ category.url }}/{{ item.product.url }}"><img alt="member" src="{{ item.product.thumbnail.url }}"></a></td>
                                <td class="product-name" style="width: 350px">
                                    <a class="text-theme-colored tnr-font" href="/catalog/{{ category.url }}/{{ item.product.url }}" >{{ item.product.title }}</a>
                                </td>
                                <td class="product-price"><span class="amount">{{ item.price|floatformat:-2 }} руб</span></td>

                               <form action="/cart/update/{{ item.product.id }}/" method="post" id="{{ item.product.id }}">
                                  {% csrf_token %}
                                    <td class="product-quantity">
                                        <div class="quantity buttons_added">
                                        <input type="button" class="minus" value="-">


                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="{{ item.quantity }}" name="quantity" min="1" step="1">


                                        <input type="button" class="plus" value="+">
                                      </div>
                                    </td>
                                    <td class="product-subtotal"><span class="amount">{{ item.total_price|floatformat:-2 }} руб</span></td>
                                    <td><button type="submit" class="btn cart-update-button">Обновить</button></td>
                               </form>
                              </tr>

                      {% endfor %}
                  {% endfor %}



                </tbody>
              </table>
            </div>
            <div class="col-md-10 col-md-offset-1 mt-30">
              <div class="row">




                <div class="col-md-6">
                  <h4 class="tnr-font">Детали заказа</h4>
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>Товаров в корзине</td>
                        <td>{{ shopping_cart|length }}</td>
                      </tr>
                      <tr>
                        <td>Сумма корзины</td>
                        <td>{{ shopping_cart.get_total_price|floatformat:-2 }} руб</td>
                      </tr>
                      <tr>
                          <td><b>Итоговая сумма</b></td>
                          <td><b>{{ shopping_cart.get_total_price|floatformat:-2 }} руб</b></td>
                      </tr>

                    </tbody>
                  </table>
                 <!--- <a class="btn btn-default" href="#">Перейти к оформлению</a> </div>--->
                </div>

                  <div class="col-md-6">
                     <div class="billing-details">

                         <h4 class="tnr-font">Оформить заказ</h4>
                            <p style="color: red" class="color-extra-grey tnr-font font-14 title-normal-style">Прежде чем сделать заказ, ознакомтесь с условиями <a href="/delivery" style="color: red; text-decoration: underline">доставки</a>.</p>
                         <form id="checkout-form" action="/order/add/" method="post">
                             {% csrf_token %}
                             {% for field in form %}
                                 <div class="form-group">
                                     <label for="checkuot-form-name">{{ field.label }}{% if field.field.required %} <span style="color: red"> *</span>{% endif %}</label>
                                      {{ field }}
                                 </div>
                             {% endfor %}

                            <button class="btn btn-default checkout-btn">Оформить заказ</button>

                         </form>
                     </div>
                  </div>


                </div>
            </div>
          </div>
          {% else %}
                <p>Ваша корзина пуста</p>
          {% endif %}
        </div>
      </div>
    </section>


{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}