<p>Нам прислали сообщение с сайта</p>

<table>

    <tbody>
            <tr>
                <td style="width: 250px"><b>Имя:</b></td>
                <td>{{ data.name }}</td>
            </tr>
            <tr>
                <td style="width: 250px"><b>Электронный адрес:</b></td>
                <td>{{ data.email }}</td>
            </tr>
            <tr>
                <td style="width: 250px"><b>Сообщение:</b></td>
                <td>{{ data.message }}</td>
            </tr>

    </tbody>

</table>